<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to right, #ff6ec4, #7873f5); /* Pink to purple gradient */
            /* Adjust other background properties as needed */
            color: black; /* Text color */
            height: 100vh; /* Ensure the gradient covers the entire viewport height */
            margin: 0; /* Remove default margin */
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Task Detail</h1>
                    </div>
                    <div class="card-body">
                        <h3>Title: {{ task.title }}</h3>
                        <p>Description: {{ task.description }}</p>
                        <p>Status: {% if task.completed %}<span class="badge badge-success">Completed</span>{% else %}<span class="badge badge-danger">Not Completed</span>{% endif %}</p>
                        <p>Created at: {{ task.created_at }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'task_update' task.pk %}" class="btn btn-sm btn-secondary">Edit</a>
                        <a href="{% url 'task_list' %}" class="btn btn-sm btn-primary">Back to Task List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
